<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<section>
    <div class="card" style="width: 18rem;">
        <img src="../src/Ressource/images/agent.png" class="card-img-top" alt="logo">
        <div class="card-body">
            <h5 class="card-title">
                {{Agent.nom}}
            </h5>
            <h4 class="card-text">
                {{Agent.titre}}
            </h4>
            <a href="
            {{lien}}
" class="btn btn-primary">Voir la carte</a>
        </div>
    </div>
</section>
</body>
</html>